{% extends "base.html" %}

{%block content%}
<div class="jumbotron">
	<div class="row">
		<div class="col-sm-8">
			<h1>Priyam Arya</h1>
			<br><h4>Contact Details:
			<br>Mob. No. - +91 - 81975 67508
			<br>Email Id - priyam1arya@gmail.com</h4>
		</div>
		<div class="col-sm-4">
			<img src="/media/pics/Priyam.jpg" width="300" height="300">
		</div>
	</div>

</div>
<div class="jumbotron">
	<div class="row">
		<div class="col-sm-8">
			<h1>Mohit Makhija</h1>
			<br><h4>Contact Details:
			<br>Mob. No. - +91 - 74114 19370
			<br>Email Id - mohit_makhija@hotmail.com</h4>
		</div>
		<div class="col-sm-4">
			<img src="/media/pics/Mohit.jpg" width="300" height="300">
		</div>
	</div>
</div>





{%endblock%}